header {
  background-color: rgb(255, 31, 31);
  width: 100%;
  padding: 2rem;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLogoandInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.divHeaderInput ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

.divHeaderInput ul a {
  text-decoration: none;
  color: aliceblue;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.divHeaderName {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.divHeaderInput {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.divHeaderCard {
  display: flex;
  justify-content: space-between;
  width: 20%;
  padding: 0;
}

.headerProfilePic {
  border-radius: 50%;
  width: 100px;
}
.divLoginCart {
  width: 50%;
}

.divLoginCart a figure {
  height: 100%;
}

.divCartLogin {
  width: 50%;
}

.logoHeader {
  width: 7rem;
}

.cartHeader {
  width: 7rem;
}

@media (max-width: 900px) {
  header {
    flex-direction: column;
    gap: 30px;
  }

  .headerLogoandInput figure img {
    width: 5rem;
  }

  .headerLogoandInput figure h1 {
    font-size: 1.3rem;
  }

  .divHeaderCard {
    width: 100%;
  }
}