header {
    background-color: rgb(255, 31, 31);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 2rem;
    color: aliceblue;
}

figure img {
    width: 5rem;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divHeaderName {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.divHeaderInput {
    display: flex;
    align-items: center;
}

.divHeaderInput input {
    border: none;
    width: 20rem;
    height: 4rem;
    border-radius: 2px;
    padding: 2px;
}