.createContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  gap: 10px;
  font-size: 1.8rem;
  font-weight: 700;
}

.createContainer form {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 5px;
}

.createContainer form input {
  padding: 10px;
}
